In [ ]:
1
(i) name = "chandan"
(ii) list_name = [7,8,9,10]
(iii)  z = 7.8
(iv) x =(7,86)

In [ ]:
2
(i) string
(ii) string
(iii) List
(iv)  float

In [ ]:
3
(i)
/- divison operator
example-6/3=2


(ii)
%-Modules opertaor use for find remainder
example- 7%3=1

(iii)
//-floor divison opertor
example -num1 = 12
num2 = 5
num3 = num1 // num2

print("floor division of", num1, "by", num2, "=", num3)
# Output: floor division of 12 by 5 = 2

(iv)
**- exponent operator
example- 2**3=8

In [1]:
#4
chandan =[7,8.9,"yaju",True,False,[78,89,88],(1,2,32),7.888,8+9j,{7:9}]
for i in chandan:
    print(i,type(i))

7
<class 'int'>
8.9
<class 'float'>
yaju
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
[78, 89, 88]
<class 'list'>
(1, 2, 32)
<class 'tuple'>
7.888
<class 'float'>
0
<class 'int'>
{7: 9}
<class 'dict'>

In [2]:
#5
a=int(input())
b=int(input())
while a%b==0:
    print('a is divisible by b', 'and a is divisible by b for', a/b, 'times')
    break
else:
    print('a is not divisible by b')

4
5
a is not divisible by b

In [9]:
#6
a= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in a:
    if i/3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is divisible not by 3')

1 is divisible not by 3
2 is divisible not by 3
3 is divisible not by 3
4 is divisible not by 3
5 is divisible not by 3
6 is divisible not by 3
7 is divisible not by 3
8 is divisible not by 3
9 is divisible not by 3
10 is divisible not by 3
11 is divisible not by 3
12 is divisible not by 3
13 is divisible not by 3
14 is divisible not by 3
15 is divisible not by 3
16 is divisible not by 3
17 is divisible not by 3
18 is divisible not by 3
19 is divisible not by 3
20 is divisible not by 3
21 is divisible not by 3
22 is divisible not by 3
23 is divisible not by 3
24 is divisible not by 3
25 is divisible not by 3

In [10]:
#7
#Immutable date type: A data type which cannot be eddited, which means we cannot do any changes in terms of adding, removing, replacing with the help of index value.
#example
a='shoaib, 3, 4'
type(a)
str

a[0]=p
NameError                                 Traceback (most recent call last)
Cell In[32], line 1
----> 1 a[0]=p

NameError: name 'p' is not defined

#Mutable data type: A data type which can be eddited, which means we can do any changes in terms of adding, removing, replacing with the help of index value.
b=[10,5.6,'chandan']
type(b)
list
b[0]=50
b
[50, 5.6, 'chandan']

SyntaxError: invalid syntax (2232434913.py, line 9)